@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {

    box-sizing: border-box;
    font-family: 'Work Sans';
}

.container-vtChats {
    background-color: #fbf2c4;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header-vtChats h1 {
    text-align: left;
    margin-top: 40px;
    color: #00202e;
}

.header-subChats h2 {
    font-size: 30px;
    color: #003f5c;
    font-weight: bold;
}

.icono-nombreChats {
    margin-left: 5px;
    margin-top: -100px;
}

.icono-telChats {
    margin-left: 900px;
    margin-top: -60px;
}

.logo-cabeceraChats img {
    border: 10px solid #8a508f;
    border-radius: 30%;
    width: 12%;
}

.logo-cabeceraChats {
    margin-top: -50px;
}

.contenido-tablaChats {
    max-height: 334px;
    overflow-y: auto;
    border-radius: 20px;
}